# SQL Part 4 Studio

For this studio, you will be working in small groups and using the BooksDB.  One group member should screen share while fellow group members code along in their own notebooks.  Each group member will submit a link to their studio notebook.

You are back at the bookstore helping employees with their inventory of books.   Four employees need your help with finding books to create in-store displays.  Read their requests and decide if you want to use a correlated subquery, nested subquery, UNION operator, EXCEPT operator, or INTERSECT operator.  You may not use any joins or add multiple statements to the WHERE clause unless explicitly asked.

## QUESTION 1:  Willow

Willow wants a list of book titles that have multiple authors attributed to them.  Write a query to return her desired results.

In [ ]:
-- Code here:
SELECT title,authors
FROM books
WHERE authors like '%,%'
--select title,authors from books

## QUESTION 2: Ira

Ira was asked by a customer for titles that have been tagged "Meditation".  As you create a query for Ira, think about how the tables in BooksDB are organized as you write your query.

In [ ]:
-- Code here:

SELECT b.title 
FROM books AS b
WHERE b.book_id IN
(select bt.goodreads_book_id from book_tags bt where bt.tag_id in
(SELECT t.tag_id FROM tags AS t
WHERE t.tag_name like '%meditation%'))

## QUESTION 3:  Alyce

Alyce wants to create a display of books with an average rating of 4.2 or higher, but she only wants books that share both title and original title.  Write a query that displays both the original title and title for Alyce, in descending order by rating.  Make sure that none of the original titles contain NULL values either.

In [ ]:
-- Code here:
SELECT title,original_title,average_rating
FROM books
WHERE average_rating >= 4.2
INTERSECT
(SELECT  title,original_title,average_rating FROM books WHERE title=original_title )
INTERSECT
(SELECT  title,original_title,average_rating FROM books WHERE original_title IS NOT NULL )
ORDER BY average_rating DESC

## QUESTION 4:  Thisbe

Thisbe is planning to make a long-term display of popular books that she will update monthly, reflecting different time periods.  She wants to make it reader-centric by including titles that readers have averagely rated higher than the book's actual average rating. 

**Part A:**   Write a query that compares the publication time with average reader ratings.

**Part B:**  She wants the list ordered by year, then the book title

In [ ]:
-- Code here:
SELECT b.original_publication_year,b.title,b.average_rating
FROM books AS b
WHERE b.average_rating >(SELECT AVG(rating) FROM ratings AS r WHERE r.book_id=b.best_book_id )
GROUP BY original_publication_year,title,average_rating
INTERSECT
(SELECT original_publication_year,title,average_rating
FROM books WHERE original_publication_year IS NOT NULL)
ORDER BY original_publication_year,title